{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <h2>All posts:</h2>
        {% if posts|length > 0 %}
            {% for post in posts %}
                <div>
                    {{ post }}
                </div>
            {% endfor %}
        {% else %}
            There's nothing yet!
        {% endif %}
    </div>

{% endblock %}